<a href="" ng-click="openModal()">Opmerkingen</a>

<div class="lists panel panel-default">

    <div class="panel-heading tableHeader">
        <h3 class="panel-title">{{currentListItem.title}}</h3>
        <div class="saveAlert alert alert-danger" role="alert">{{errorMessage}}</div>
        <div class="saveAlert alert alert-success" role="alert">{{successMessage}}</div>



        <button ng-disabled="saveBusy" ng-click="saveSurvey()" class="saveSurveyButton btn btn-success">Opslaan<span ng-show="saveBusy" class="addListItemLoader" loader></span></button>
    </div>

    <ul class="list-group">

        <li ng-repeat="list in currentListItem.items | orderBy: 'listItemId'"
            ng-click="showPicture(list.imageUrl)"
            class="listItem list-group-item">
            {{list.title}}
            <a class="nextLink"
               href="#/newsurvey/list/{{list.linkUrl}}"
               ng-click="addList(list.title, list.linkUrl)">
                <span class="glyphicon glyphicon-ok"
                      aria-hidden="true"></span>
            </a>
        </li>

    </ul>
</div>

<div class="alert alert-danger" ng-show="noUser" role="alert">Selecteer een gebruiker en probeer opnieuw.</div>
<div class="alert alert-danger" ng-show="noOptions" role="alert">Selecteer een paar opties en probeer opnieuw.</div>
<div class="alert alert-danger" ng-show="failure" role=" alert"><strong>Fout!</strong> Er is een fout opgetreden tijdens het opslaan: {{error}}</div>

<img width="500" ng-src="{{imageUrl}}">
