<h3>Voeg een nieuw lijst item toe.</h3>

<div ng-show="isBusy" class="spinner">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
</div>

<div class="newListItemAlertSuccess alert alert-success" role="alert"><strong>Succes!</strong> Het opslaan is gelukt.</div>
<div ng-show="!isSuccess" class="newListItemAlertFail alert alert-danger" role="alert"><strong>Woops!</strong> Fout tijdens het opslaan. {{err}}</div>

<div ng-show="!isBusy" class="newListItem">

    <div>

        <input type="text" class="form-control" ng-model="listItem.text" placeholder="Titel van lijst item">

        <div class="input-group">

            <input type="text"
                   ng-model="selectedLinkItem"
                   ng-keypress="$event.keyCode == 13 && checkList()"
                   uib-typeahead="list for list in activeLists | filter: $viewValue | limitTo: 5"
                   class="form-control"
                   placeholder="Link naar lijst" ng-style="customStyle">

            <span class="input-group-btn">
                <button class="btnCheckList btn btn-default" ng-click="checkList()" type="button">
                    <span ng-show="!checking">Check</span>
                    <span loader ng-show="checking"></span>
                </button>
            </span>
        </div>

    </div>

    <input accept="image/*" type="file" class="listItemPhoto" file-input="imageElement" />

    <div class="saveButton clearfix">

        <button type="button" ng-click="saveListItem()" class="btn btn-success">Opslaan</button>

        <div class="newListItemSaveWarn alert alert-warning" role="alert">Geef een titel, een foto en valideer de lijst.</div>

    </div>

    <img class="preview" ng-src="{{imageElement.data}}" ng-show="imageElement.data" height="300" />

</div>

