<div class="form-group">
    <label>Offertenummer</label>
    <input type="text" class="form-control" id="Offertenummer">
</div>
<div class="form-group">
    <label>Klant</label>
    <input type="text" class="form-control" id="Klant">
</div>
<div class="form-group">
    <label>Adres</label>
    <input type="text" class="form-control" id="Adres">
</div>
<button type="button" id="startSurvey" ng-click="startSurvey()" class="btn btn-success">Start</button>
<div class="startSurveyAlert alert alert-danger" role="alert"><strong>Opgelet!</strong> niet alle velden zijn ingevuld.</div>
