

<div class="newSurvey">

    <div ng-show="pending" class="alert alert-info" role="alert"><strong>Pas op!</strong> <a href="{{pending}}">Ga verder met de meting.</a></div>

    <p>test</p>
    <h3>Start een nieuwe opmeting</h3>

    <div class="form-group">
        <label>Offertenummer</label>
        <input type="text" class="form-control" ng-model="survey.offnumber">
    </div>
    <div class="form-group">
        <label>Klant</label>
        <input type="text" class="surveyInput form-control" ng-model="survey.client" id="Klant">
    </div>
    <div class="form-group">
        <label>Adres</label>
        <input type="text" class="surveyInput form-control" ng-model="survey.address" id="Adres">
    </div>

    <button type="button" id="startSurvey" ng-click="startSurvey()" class="btn btn-success">Start</button>

    <div ng-show="showAlert" class="alert alert-danger" role="alert"><strong>Opgelet!</strong> niet alle velden zijn ingevuld.</div>

</div>
