<div class="page-header clearfix">
    <h1><img src="assets/img/de_vroe_groep_logo.png" alt="logo" class="logo" />Woon- en aannemersprojecten</h1>

    <ul class="mainNav nav nav-pills">
        <li id="first" role="presentation" ng-class="{ active: isActiveLink('/newsurvey')}" class="newSurvey"><a href="#/newsurvey">Nieuwe opmeting</a></li>
        <li ng-class="{ active: isActiveLink('/allsurveys')}" class="allSurveys" role="presentation"><a href="#/allsurveys">Voorbije opmetingen</a></li>
        <li ng-class="{ active: isActiveLink('/references')}" class="references" role="presentation"><a href="#/references">Referenties</a></li>
        <li ng-class="{ active: isActiveLink('/cms')}" class="cms" role="presentation"><a href="#/cms">Inhoud</a></li>
    </ul>

</div>
<div id="refs">
    <h3>Zoek referenties</h3>

    <div class="input-group searchBar">
    <span class="input-group-addon" id="basic-addon1">
        <span class="glyphicon glyphicon-search"></span>
    </span>
        <input type="text" class="form-control" placeholder="Zoek op sleutelwoorden" ng-model="searchText" aria-describedby="basic-addon1">
    </div>

    <div class="row">
        <!--<div class="col-xs-6 col-md-3 refImage" ng-repeat="ref in (searchResult = (activeRefs | filter:searchText))">-->
        <div class="col-xs-6 col-md-3 refImage" ng-repeat="ref in filteredRefs">
            <a href="" class="thumbnail refImg" ng-click="openLightboxModal($index, filteredRefs)">
                <img ng-src="{{ref.url}}">
            </a>
        </div>
    </div>
</div>
