<h3>Zoek opmetingen</h3>

<div class="input-group searchBar">
    <span class="input-group-addon" id="basic-addon1">
        <span class="glyphicon glyphicon-search"></span>
    </span>
    <input type="text" class="form-control" placeholder="Zoek een opmeting" ng-model="searchText" aria-describedby="basic-addon1">
</div>

<!--<table class="table table-striped">

    <thead>
    <tr>
        <th>Offerte nummer</th>
        <th>Klant</th>
        <th>Adres</th>
        <th>Opmerkingen</th>
        <th>Opties</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="survey in filtered">
        <td>{{survey.offerteNumber}}</td>
        <td>{{survey.client}}</td>
        <td><div style="width: 200px;">{{survey.address}}</div></td>
        <td>{{survey.remarks}}</td>
        <td><div style="width: 300px;">{{survey.options}}</div></td>
    </tr>
    </tbody>

</table>-->

<div class="panel panel-default" ng-repeat="survey in filtered">
    <div class="panel-heading">
        <h4 class="panel-title">{{survey.offerteNumber}}</h4>
    </div>
    <div class="panel-body">
        <p><strong>Klant:</strong> {{survey.client}}</p>
        <p><strong>Adres:</strong> {{survey.address}}</p>
        <p><strong>Opmerkingen:</strong> {{survey.remarks}}</p>
        <p><strong>Opties:</strong> {{survey.options}}</p>
    </div>
</div>




