<h3>Voeg een nieuwe lijst toe.</h3>

<div class="panel panel-default ">
    <div class="panel-heading clearfix">
        <input type="text" class="listTitleInput form-control" placeholder="Titel van de lijst">
        <button type="button" class="btnSaveList btn btn-success" ng-click="saveList()">Opslaan</button>
    </div>

    <!-- List group -->
    <ul class="listItems list-group">
        <li class="list-group-item"><new-list-item></new-list-item></li>
    </ul>

    <add-button ng-click="addNewItem()" text="Nieuw item"></add-button>

</div>
