<h3>Voeg een nieuwe lijst toe.</h3>


<input type="text" class="listLinkItem form-control" placeholder="Lijst item die naar deze lijst moet verwijzen">


<div class="panel panel-default ">
    <div class="panel-heading clearfix">
        <input type="text" class="listTitleInput form-control" placeholder="Titel van de lijst">
        <button type="button" class="btnSaveList btn btn-success" ng-click="saveList()">Opslaan</button>
    </div>

    <!-- List group -->
    <ul class="listItems list-group">
        <li ng-repeat="i in listItems track by $index" id="{{i}}" class="clearfix list-group-item">
            <input type="text" class="form-control" placeholder="Lijst item">

            <a ng-click="checkListItem($event)" href="">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </a>
            <a ng-click="removeListItem($event)" href="">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </a>

            <div class="listItemspinner spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </li>
    </ul>

    <add-button ng-click="addNewItem()" text="Nieuw item"></add-button>

</div>
